# SPDX-License-Identifier: AGPL-3.0-or-later
# Copyright (C) 2022-2023 Dyne.org foundation <foundation@dyne.org>.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.

# version: "3"
services:
  proxy:
    image: ghcr.io/interfacerproject/interfacer-proxy:latest
    working_dir: /app
    ports:
      - "{{ proxy_port }}:80"
    environment:
      ZENFLOWS_URL: "{{ zenflows }}"
      HERE_KEY: "{{ here_api }}"
      ADDR: :80
      INBOX_URL: "http://inbox"
      WALLET_URL: "http://wallet"
      OSH_URL: "http://osh/"
      IFACER_LOG: "/log"
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: "15m"
  inbox:
    image: ghcr.io/interfacerproject/zenflows-inbox:main
    working_dir: /app
    ports:
      - "{{ inbox_port }}:80"
    environment:
      TT_HOST: "db_inbox:3500"
      TT_USER: "inbox"
      TT_PASS: "inbox"
      ZENFLOWS_URL: "{{ zenflows }}"
      BASE_URL: "https://{{ proxy_domain_name }}/inbox"
      ZENFLOWS_SK: "{{ zenflows_sk }}"
      ZENFLOWS_USER: "{{ zenflows_user }}"
      WALLET_URL: "https://wallet"
      KEYRING: "{{ inbox_keyring }}"
    depends_on:
      - db_inbox
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: "15m"
  db_inbox:
    image: "ghcr.io/interfacerproject/zenflows-inbox-db:main"
    restart: always
    volumes:
      - inbox_data:/var/lib/tarantool
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: "15m"
  wallet:
    image: ghcr.io/interfacerproject/zenflows-wallet:latest
    working_dir: /app
    environment:
      TT_HOST: "db_wallet:3500"
      TT_USER: "wallet"
      TT_PASS: "wallet"
      ZENFLOWS_URL: "{{ zenflows }}"
      DID_CONTEXT: "{{ wallet_did_context }}"
      DID_URL: "{{ wallet_did_url }}"
    depends_on:
      - db_inbox
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: "15m"
  db_wallet:
    image: "ghcr.io/interfacerproject/zenflows-wallet-db:main"
    restart: always
    ports:
      - "{{ wallet_port }}:3500"
    volumes:
      - wallet_data:/var/lib/tarantool
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: "15m"
  osh:
    image: "ghcr.io/interfacerproject/zenflows-osh:master"
    restart: always
    environment:
      ADDR: ":80"
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: "15m"
volumes:
  wallet_data:
  inbox_data:
